 /* Custom CSS for responsive layout */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto; /* Header, Content, Footer */
    min-height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

/* CSS for the header */
header {
    background-color: #2385e7;
    padding: 20px;
    display: flex; /* Add this to create a flex container */
    align-items: center; /* Center vertically */
    justify-content: space-between;
}

.header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1; /* Stretch the header across the entire width */
}

.header-box {
    flex: 1;
}

.header-text {
    text-align: top;
}

.header-nav {
    text-align: right;
    margin-top: auto; /* Push the navigation to the bottom */
    background-color: aqua;
}

.header-img {
    flex: 20%; /* Set the image to take up 20% of the width */
}

/* Default logo size */
.logo {
    max-width: 100%; /* Make sure the logo doesn't exceed its container */
    height: auto; /* Allow the image to scale proportionally */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    /* Adjust the logo size as needed for smaller screens */
    .logo {
        max-width: 80px; /* Adjust the maximum width as desired */
    }
}


h1 {
    margin: 0;
}

nav {
    background-color: #343a40;
    color: #fff;
    padding: 10px 0;
}

.container {
    padding: 20px;
}

/* Optional: Adjust margin/padding for navbar items */
.navbar-nav {
    margin-right: 20px;
}

.navbar-toggler-container {
    margin-top: -5px; /* Adjust the value as needed */
}




/* CSS for the footer */
footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}


/* Style the Facebook link in the footer */
footer a {
    color: #fff;
    text-decoration: none;
}

/* Define the default styles for links */
a {
    color: #007bff; /* Default link color */
    font-size: 16px; /* Default font size */
    text-decoration: none; /* Remove underlines by default */
    transition: color 0.3s, font-size 0.3s; /* Add smooth transitions */
}

/* Define the hover styles for links */
a:hover {
    color: #ff5722; /* New link color on hover */
    font-size: 18px; /* Increased font size on hover */
}
