 /* Custom CSS for responsive layout */
body {
    background-color: #343a40;
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto; /* Header, Content, Footer */
    min-height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

/* CSS for the header */
header {
    background-size:cover;
    background-image: url('../images/header.jpg'); 
    background-position-y: bottom;
    padding: 20px;
    display: flex; /* create a flex container */
    align-items: center; /* Center vertically */
    justify-content: space-between;
}

.header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1; /* Stretch the header across the entire width */
}

.header-box {
    flex: 1;
}

/* Custom CSS for header text */
.header-text {
    font-size: 28px; /* Adjust the font size as needed */
    font-weight: bold; /* Make the text bold if desired */
    margin-bottom: 0; /* Remove any default margin */
}


.header-nav {
    text-align: right;
    margin-top: auto; /* Push the navigation to the bottom */

}

.header-img {
    flex: 20%; /*  20% of the width */
}

/* Default logo size */
.logo {
    max-width: 100%; /* Make sure the logo isnt bigger than container */
    height: auto; /* image able to scale */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    /* Adjust the logo size for smaller screens */
    .logo {
        max-width: 80px; 
    }
}


h1 {
    margin: 0;
}

.navbar-nav {
    background-color:#fff;
    
    padding: 10px 0;
}

.container {
    padding: 20px;
}


.navbar-nav {
    margin-right: 20px;
}

.navbar-toggler-container {
    margin-top: -5px; 
}




/* CSS for the footer */
footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}


/* Style the link in the footer */
footer a {
    background-color: black;
    color: #fff;
    text-decoration: none;
}


a {

    font-size: 16px; 
    text-decoration: none; 
    transition: color font-size 0.3s; 
}

a:hover {
    font-size: 18px; /* Increased font size on hover */
}
 #reservations {
            background-image: url('../images/bookings.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            color: #fff; 
            padding: 50px 0;
        }

        /*styling for the form on the background image */
        #reservations form {
            background-color: rgba(0, 0, 0, 0.7); /* Background transperent*/
            padding: 20px;
            border-radius: 10px;
        }

        /* styling for larger screens */
@media (min-width: 768px) {
    .restaurant-description .row {
        margin-top: 20px;
    }

    .restaurant-description .col-md-6 {
        display: flex;
        justify-content: center;
    }




